@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Playfair+Display&display=swap");

.back {
    background: linear-gradient(122deg, rgba(226, 80, 109, 1) 10%, rgba(226, 80, 109, 0) 70%);
    height: 100vh;
    // clip-path: polygon(0px 0px, 100% 0px, 50% 100%, 0px 100%);
}

img {
    width: 534px;
    position: absolute;
    right: 70px;
    bottom: 40px;
}

.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 80px;
    margin: 0px;
    padding-top: 40px;
    padding-left: 100px;
}

.text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 50px 0px 20px 0px;
    text-align: center;

    &__error {
        text-align: center;
        font-family: "Montserrat", sans-serif;
        margin-top: 5px;
        color: #cc0033;
        font-weight: bold;
    }
}

.button {
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 10rem;
    color: #fff;
    margin-bottom: 20px;
    width: 100%;
    background-color: #4e9bcf;

    &:hover:enabled {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
    }

    &:disabled {
        opacity: 0.5;
    }

    &:active:enabled {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 20%);
    }

    &__section {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
}

.info {
    margin-left: 100px;
    width: 338px;
    padding: 60px 40px 40px 0px;
}

input {
    width: 93%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    line-height: 24px;
    color: #6c6b6b;
    text-align: center;
}

.input__error {
    border: 2px solid #cc0033;
}