<div class="container">
    <nav class="side-bar">
        <ol class="list">
            <li>
                <button class="item" (click)="showSection('contacts')">
                    <p class="item__text">
                        Contatos
                    </p>
                </button>

            </li>
            <li>
                <button class="item" (click)="showSection('interests')">
                    <p class="item__text">
                        Interesses
                    </p>
                </button>
            </li>
            <li>
                <button class="item" (click)="showSection('academic')">
                    <p class="item__text">
                        Formação Acadêmica
                    </p>
                </button>
            </li>
            <li>
                <button class="item" (click)="showSection('professional')">
                    <p class="item__text">
                        Experiência Profissional
                    </p>
                </button>
            </li>
            <li>
                <button class="item" (click)="showSection('skills')">
                    <p class="item__text">
                        Conhecimentos
                    </p>
                </button>
            </li>
        </ol>
    </nav>
    <div class="content">
        <div>
            <h1 class="name">{{person.name}}</h1>
            <p class="description">{{person.description}}</p>
        </div>
        <div *ngIf="showContacts">
            <div class="card">
                <img class="img" src="assets/email.png">   
                <span class="card__text">{{person.contacts.email}}</span>
            </div>
            <div class="card">
                <img class="img" src="assets/linkedin.png">  
                <span class="card__text">{{person.contacts.linkedin}}</span>
            </div>
            <div class="card">
                <img class="img" src="assets/phone.png">  
                <span class="card__text">{{person.contacts.phone}}</span>
            </div>
        </div>
        <div *ngIf="showInterests">
            <div class="card" *ngFor="let i of person.interests">
                <span class="card__text">{{i}}</span>
            </div>
        </div>
        <div *ngIf="showAcademicInfo">
            <div class="card" *ngFor="let i of person.academicInfo">
                <p class="card__text">{{i.course}} - {{i.institution}}</p>
                <p class="card__text">{{i.startDate | date: 'dd/MM/yyyy'}} - {{i.endDate | date: 'dd/MM/yyyy'}}</p>
            </div>
        </div>
        <div *ngIf="showProfessionalInfo">
            <div class="card" *ngFor="let i of person.professionalBackground">
                <p class="card__text">{{i.startDate | date: 'dd/MM/yyyy'}} - 
                    <span *ngIf="!i.isCurrentlyJob">{{i.endDate | date: 'dd/MM/yyyy'}}</span>
                    <span *ngIf="i.isCurrentlyJob">atualmente</span>
                </p>
                <p class="card__text">{{i.role}}</p>
                <p class="card__text">{{i.company}}</p>
                <p class="card__text">{{i.roleDescription}}</p>
            </div>
        </div>
        <div class="know" *ngIf="showskills">
            <div class="card-small" *ngFor="let i of person.skills">
                <span class="card__text">{{i}}</span>
            </div>
        </div>
    </div>
</div>